@model PlayZone.Razor.Views.NewPasswordView

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Réinitialisation de votre mot de passe</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                line-height: 1.6;
                color: black !important;
                margin: 0;
                padding: 0;
                background-color: #f9f9f9;
            }
            .email-container {
                max-width: 600px;
                margin: 20px auto;
                padding: 20px;
                background-color: #ffffff;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
            .header {
                text-align: center;
                padding: 10px 0;
                border-bottom: 2px solid green;
            }
            .header img {
                max-width: 150px;
                height: auto;
            }
            .content {
                margin-bottom: 20px;
            }
            .password {
                margin: 15px 0;
                font-size: 18px;
                font-weight: bold;
                background-color: #f1f1f1;
                padding: 10px;
                border: 1px solid #ddd;
                border-radius: 5px;
                text-align: center;
            }
            .footer {
                text-align: center;
                font-size: 0.9em;
                color: #666;
            }
            a {
                color: #007bff;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
    <div class="email-container">
        <div class="header">
            <img src="@Model.Logo" alt="Logo Gestion Rapports">
            <h2>Bienvenue sur Gestion Rapports</h2>
        </div>
        <div class="content">
            <p>Bonjour <strong>@Model.Nom @Model.Prenom</strong>,</p>
            <p>Nous avons reçu une demande de réinitialisation de votre mot de passe.</p>
            <p>Voici votre nouveau mot de passe: </p>
            <div class="password">@Model.Password</div>
        </div>
        <div class="footer">
            <p>Cordialement,</p>
            <p>L'équipe de support</p>
            <p>Si vous avez des questions, contactez-nous à <a href="mailto:@Model.SupportMail">@Model.SupportMail</a>.</p>
        </div>
    </div>
    </body>
</html>
